@use "../response" as *;




.collapsed-text {
  display: none;
  @media (max-width: 991px) {
    // match your navbar collapse breakpoint
    display: inline; // show on mobile / collapsed
    font-size: 0.9rem;
    color: #555;
  }
}

.navbar-opacity {
  --bs-bg-opacity: 0.8 !important;
}

.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: flex-start;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}