@use "../response" as *;
@use "./mixins.scss" as *;

$tilt: 12;
$tiltOffset: 35;
$hoverTilt: 16;
$hoverTiltOffset: 60;

#contentarea {
  width: 100%;
}

.sections {
  width: 100%;
}

.sectionfullwidth {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include respond(tablet) {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @include respond(pc) {
    margin-top: 1em;
    margin-bottom: 2em;
  }
}

.section {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  @include respond(tablet) {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  @include respond(pc) {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.rawsection {
  &::after {
    @include line_break;
  }
  &:last-child::after {
    content: none; // remove the separator for the last sect
  }
}

.section_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

$header-size: 0.75;
$header-scale-mobile: 2;
$header-scale-tablet: 2.5;
$header-scale-pc: 3;

.section_title {
  flex: 100%;

  h2 {
    font-weight: 300;
    line-height: 1.2;
    font-weight: 700 !important;
    color: rgb(0, 0, 0);
    font-size: ($header-size * $header-scale-mobile) * 1rem;
    @include respond(tablet) {
      font-size: ($header-size * $header-scale-tablet) * 1rem;
    }
    @include respond(pc) {
      font-size: ($header-size * $header-scale-pc) * 1rem;
    }
    //text-shadow:
    //0 0 2px rgba(0, 0, 0, 0.85),
    // normal shadow
    //0 1px 1px rgba(255, 0, 0, 0.5); // very soft red under-glow
  }
}

.section_header {
  flex: 100%;
  margin-bottom: 0.5em;
  z-index: 100;
  .section_date {
    font-family: "Courier New", Courier, monospace;
  }

  .sectionlink {
    margin-left: 1em;
  }
}

.section_inner_wrap_left {
  align-items: flex-start;

  img {
    float: left;
    max-width: 160px;
    margin-right: 1em;
    @include respond(tablet, pc) {
      display: block;
      float: left;
    }
    @include respond(pc) {
      max-width: 480px;
      margin-right: 2em;
    }
    @include respond(tablet) {
      max-width: 360px;
      margin-right: 1em;
    }
    @include site-image-radius;
  }

  p {
    margin: 0 0 10px 0;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.section_inner_image_left {
  .section_right {
    margin-left: 1em;
    @include respond(pc) {
      margin-left: 5em;
    }
    @include respond(tablet) {
      margin-left: 3em;
    }
  }

  .section_left {
    max-width: 180px;
    @include respond(pc) {
      max-width: 480px;
    }
    @include respond(tablet) {
      max-width: 280px;
    }

    img {
      max-width: 100%;

      @include respond(pc) {
        margin-right: 2em;
      }
      @include respond(tablet) {
        margin-right: 1em;
      }

      @include site-image-radius;
    }
  }
}

.section_inner_image_right {
  .section_right {
    max-width: 180px;
    @include respond(pc) {
      max-width: 480px;
    }
    @include respond(tablet) {
      max-width: 280px;
    }

    img {
      max-width: 100%;

      @include respond(pc) {
        margin-right: 2em;
      }
      @include respond(tablet) {
        margin-right: 1em;
      }

      @include site-image-radius;
    }
  }
}

.section_inner_images_row {
  @include respond(pc) {
    padding-top: 2em;
    margin-top: 3em;
    margin-bottom: 3em;
  }
  @include respond(tablet) {
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .section_images_left {
    display: block;
    float: left;
    margin-right: 1em;
    width: 200px;
    height: 140px;
    @include respond(pc) {
      width: 460px;
      height: 400px;
      margin-right: 5em;
    }
    @include respond(tablet) {
      width: 260px;
      height: 400px;
      margin-right: 3.3em;
    }

    img {
      border: #303030 solid 2px;
      position: absolute;
      width: 160px;
      @include respond(pc) {
        width: 460px;
      }
      @include respond(tablet) {
        width: 260px;
      }

      height: auto;
      @include site-image-radius;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
      transition: transform 0.3s ease;

      &:nth-child(1) {
        transform: rotate(-#{$tilt}deg) translateX(-#{$tiltOffset}px);
        z-index: 1;
      }
      &:nth-child(2) {
        transform: rotate(0deg);
        z-index: 3;
      }
      &:nth-child(3) {
        transform: rotate(#{$tilt}deg) translateX(#{$tiltOffset}px);
        z-index: 2;
      }

      .active {
        z-index: 10;
      }
    }

    img.active {
      z-index: 10;
    }

    &:hover img:nth-child(1) {
      transform: rotate(-#{$hoverTilt}deg) translateX(-#{$hoverTiltOffset}px);
    }

    &:hover img:nth-child(3) {
      transform: rotate(#{$hoverTilt}deg) translateX(#{$hoverTiltOffset}px);
    }
  }
}

.section_images_right {
  display: block;
  float: right;
  margin-left: 1.2em;
  width: 200px;
  height: 140px;
  @include respond(pc) {
    width: 460px;
    height: 400px;
    margin-left: 5em;
  }
  @include respond(tablet) {
    width: 260px;
    height: 400px;
    margin-left: 3.3em;
  }

  img {
    border: #303030 solid 2px;
    position: absolute;
    width: 160px;
    @include respond(pc) {
      width: 460px;
    }
    @include respond(tablet) {
      width: 260px;
    }

    height: auto;
    @include site-image-radius;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;

    &:nth-child(1) {
      transform: rotate(-#{$tilt}deg) translateX(-40px);
      z-index: 1;
    }
    &:nth-child(2) {
      transform: rotate(0deg);
      z-index: 3;
    }
    &:nth-child(3) {
      transform: rotate(#{$tilt}deg) translateX(40px);
      z-index: 2;
    }

    .active {
      z-index: 10;
    }
  }

  img.active {
    z-index: 10;
  }

  &:hover img:nth-child(1) {
    transform: rotate(-#{$hoverTilt}deg) translateX(-80px);
  }

  &:hover img:nth-child(3) {
    transform: rotate(#{$hoverTilt}deg) translateX(80px);
  }
}

.pano-wrap {
  height: 300vh; /* scroll distance */
  position: relative;
  .pano {
    position: sticky;
    top: 0;
    height: 100vh;
    width: auto;
  }
}

.section_list {
  list-style-type: decimal;
  li::marker {
    font-weight: bold;
  }

  .section_list_item {
    margin-bottom: 0.25em;
    @include respond(tablet) {
      margin-bottom: 0.5em;
    }
    @include respond(pc) {
      margin-bottom: 0.75em;
    }
  }
}

.pdfLinks {
  a {
    margin-bottom: 1em;
    img {
      width: 24px;
      @include respond(tablet) {
        width: 28px;
      }
      @include respond(pc) {
        width: 32px;
      }

      height: auto;
    }
  }

  .pdfdoc {
    margin: 2em;
    img {
      border-radius: 0;
    }
  }

  span {
    margin-left: 1em;
  }
}

.sectionWeatherForecastDiv {
  h2 {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
}

.sticker {
  position: absolute; /* float above */
  top: 20;
  left: 50;
  z-index: 10;
  
  @include respond(pc, tablet) {
    margin-left: 25%;
  }

  img{
    width:300px;
    @include respond(pc, tablet) {
      width:100%;
    }
  }
}
