<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="canonical" href="<%=  pageurl %>" />
    <meta name="keywords" content="<%=  keywords %>" />  
    <%= partials.favicon %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <%= partials.google_analytics %>
  </head>
  <body>
    <%= partials.navigation %>
    <main>
      <iframe
        src="https://membermojo.co.uk/amarc2002"
        frameborder="0"
        class="iFrameMemberMojo"
      ></iframe>
    </main>
    <%= partials.footer %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
