<footer>
  <div id="footer-logo">
    <!--<img src="https://siteimages.gmfc.uk/siteimages/logo.png" alt="Gordano Model Flying Club" />-->
    <a href="https://www.bmfa.org" target="_blank" rel="noopener noreferrer">
      <img
        class="circleimg"
        src="https://siteimages.gmfc.uk/icons/bmfa.jpg"
        alt="BMFA"
      />
    </a>
  </div>
  <div id="footer-content">
    <p>
      Gordano Model Flying Club is affiliated with the BMFA (British Model
      Flying Association). For more information, visit the
      <a href="https://www.bmfa.org" target="_blank" rel="noopener noreferrer"
        >BMFA website</a
      >.
    </p>
    <a href="\aboutus#findus" target="_self">Find Us</a>
    <a href="\aboutus#contactus" target="_self">Contact Us</a>
    <p class="copywrite">
      Copyright © <span id="copyright-year"></span>. All rights reserved.
    </p>
  </div>
  <div id="footer-links" class="footer-links-general">
    <a
      href="https://www.facebook.com/groups/327796220935498"
      target="_blank"
      rel="noopener noreferrer"
      title="Visit our Facebook group"
    >
      <img
        src="https://siteimages.gmfc.uk/icons/facebook-icon.png"
        alt="Visit us on Facebook"
        width="32"
        height="32"
        style="display: inline-block; border: 0"
      />
    </a>
    <a href="\aboutus#findus" target="_self" title="Find us">
      <i class="fa-solid fa-location-dot colour_red"></i>
    </a>
  </div>
</footer>
