<nav class="navbar navbar-expand-md bg-body-tertiary fixed-top navbar-opacity">
  <div class="container-fluid nav-menu-link">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img
        src="https://siteimages.gmfc.uk/siteimages/logo.png"
        alt="Site logo"
        width="32"
        height="32"
        class="me-2"
      />
      <span id="navbar-brand-site-name">Gordano Model Flying Club</span>
    </a>
    <span id="navbar-alert" class="is-hidden"
      ><i class="fa-regular fa-bell"></i
    ></span>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTest"
      aria-controls="navbarTest"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTest">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!--Home link-->
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/"
            data-page="page-home"
            >Home</a
          >
        </li>

        <!--Calendar link-->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="/calendar"
            data-page="page-calendar"
            >Calendar</a
          >
        </li>

        <!--News link-->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="/news/"
            data-page="page-news"
            >News & Posts</a
          >
        </li>

        <!--Gallery-->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="/gallery"
            data-page="page-gallery"
            >Gallery</a
          >
        </li>

        <!--About Us link-->
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="/aboutus"
            data-page="page-aboutus"
            >About Us</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Club Links
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="/club/history"
                data-page="page-clubhistory"
                >Club History</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="/club/rules"
                data-page="page-clubrules"
                >Club Rules</a
              >
            </li>

            <li>
              <a
                class="dropdown-item"
                href="/club/merch"
                data-page="page-clubmerch"
                >Club Merchandise</a
              >
            </li>

            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                href="/club/member"
                data-page="page-clubmember"
                >Membership</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                href="/club/leaderboard"
                data-page="page-leaderboard"
                >🏁Leaderboard</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/club/weather"
                data-page="page-clubweather"
                >🌤️ Weather</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
